// Panel component styles
.panel {
  position: relative;
  min-width: 220px;
  max-width: 220px;
  width: 100%;
  background-color: $panel-background;
  overflow: hidden;
  transition: all 0.4s, opacity 0.8s;
  overflow-y: auto;

  &__inner {
    opacity: 1;
    transition: opacity 0.1s;
  }

  &-title {
    display: inline-block;
    color: $panel-title-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  @include scrollbar;
  &::-webkit-scrollbar,
  &:hover::-webkit-scrollbar {
    display: block;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}

@media screen and (max-width: 992px) {
  .panel {
    z-index: 1;
    width: 0;
    visibility: hidden;
    min-width: 0;

    &__inner {
      opacity: 0;
    }
  }
  .menu-btn:active + .panel,
  .menu-btn_active + .panel {
    width: 100%;
    min-width: 220px;
    visibility: initial;

    .panel__inner {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 768px) {
  .panel {
    position: fixed;
    height: 100%;
  }
}
