// Profile component
.profile {
  margin: 30px 0;
  text-align: center;

  &__avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 50%;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-style: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
  }
  &__stats {
    display: inline-block;
    color: #a3a2a8;
    margin-bottom: 20px;
  }
}

#upload-btn {
  display: none;
}

.upload-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 160px;
  padding: 8px 16px;
  font-size: 15px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: $button-color;
  text-transform: uppercase;

  &:focus {
    border-color: #fff;
  }
}
@keyframes sync {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
.sync-btn {
  width: 40px;
  height: 40px;
  @include background-image;
  transition: opacity 0.2s;
  background-image: url(../../assets/icon/cloud-sync.svg);

  &.active,
  &:active {
    animation: sync 1.5s infinite;
    border-color: transparent;
  }
}
