.album__thumb {
  width: initial;
  margin: 0 $thumb-margin 40px;
}
.album__thumb-content {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.5s;
}
.album__thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.album__thumb-link:focus,
.album__thumb-link:active {
  .album__thumb-content {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  }
  .album__thumb-exif {
    visibility: visible;
    opacity: 1;
  }
}
.album__thumb-exif {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 8px 20px;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  background-color: #b7b7b7;
  transition: all 0.5s;
}
.album__thumb-date {
  position: absolute;
  bottom: -25px;
  left: 0;
}

@media screen and (max-width: 1400px) {
  .album__thumb {
    width: calc(100% / 4 - 2 * #{$thumb-margin});
  }
}
@media screen and (max-width: 992px) {
  .album__thumb {
    width: calc(100% / 3 - 2 * #{$thumb-margin});
  }
}

@media screen and (max-width: 768px) {
  .album__thumb {
    width: calc(100% / 2 - 2 * #{$thumb-margin});
  }
}

@media screen and (min-width: 600px) {
  .album__thumb-content {
    width: initial;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .album__thumb {
    width: 100%;
  }

  .album__thumb-content {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1400px) {
  .album__thumb-content {
    width: 260px;
    height: 180px;
  }
}

// Album thumb scales
.thumb-col-1 {
  width: calc(100% / 1 - 2 * #{$thumb-margin});
}
.thumb-col-2 {
  width: calc(100% / 2 - 2 * #{$thumb-margin});
}
.thumb-col-3 {
  width: calc(100% / 3 - 2 * #{$thumb-margin});
}
.thumb-col-4 {
  width: calc(100% / 4 - 2 * #{$thumb-margin});
}
.thumb-col-5 {
  width: calc(100% / 5 - 2 * #{$thumb-margin});
}
.thumb-col-6 {
  width: calc(100% / 6 - 2 * #{$thumb-margin});
}
.thumb-col-7 {
  width: calc(100% / 7 - 2 * #{$thumb-margin});
}
.thumb-col-8 {
  width: calc(100% / 8 - 2 * #{$thumb-margin});
}
