@import-normalize;
@import "./mixins";

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-helvetica;
  font-size: 14px;
  font-weight: 400;
  color: $main-text-color;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: #a3a2a8;
  outline: $outline-color;
  text-decoration: none;
}
