.progress-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  max-width: 300px;
  max-height: 100px;
  transition: all 1s;

  &__inner {
    display: flex;
  }
  &__detail {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
  }
  &__img {
    display: block;
    @include responsive-img;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background: #f5f5f5;
  }
  &__label {
    display: block;
    font-size: 10px;
  }
  &__stats {
    position: absolute;
    right: 0;
  }
  &__status {
    content: "";
    display: inline-block;
    width: 12px;
    margin-bottom: 3px;
    margin-left: 5px;
    @include background-image;
    background-position: center bottom;
    background-size: 100%;
  }

  &__indicator {
    height: 6px;
  }
}
