$outline-color: #fff;
$panel-background: #272631;
$content-background: #fafafa;
$album-title-color: #444;
$main-text-color: #a3a2a8;
$panel-title-color: #d6d5df;
$button-color: #ea5a5a;
$thumb-margin: 10px;
